<!-- templates/pages/index.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to GetFit!</h1>
  <p>We are excited to help you achieve your fitness and health goals. Whether you're looking to lose weight, gain muscle, or just live a healthier lifestyle, we've got you covered.</p>
  <p>Our app will help you keep track of your food intake, suggest healthy recipes and exercises, and motivate you to stay on track towards your goals.</p>
  <p>Let's get started!</p>
  <p><a href="{% url 'user_list' %}">User List</a></p>
{% endblock %}
