{% extends 'base.html' %}

{% block content %}
  <h1>{{ user.username }}</h1>
  {% if request.user.id in profile.following.all %}
  <a href="{% url 'unfollow' user_id=user.id %}">Unfollow</a>
{% else %}
<a href="{% url 'follow' user_id=user.id %}">Follow</a>
{% endif %}
{% if not user.profile == request.user.profile %}
  {% if user.profile in request.user.profile.friends.all %}
    <a href="{% url 'unfollow' user_id=user.id %}">Unfollow</a>
  {% else %}
    <a href="{% url 'following' user_id=user.id %}">Follow</a>
  {% endif %}
{% endif %}
  <a href="{% url 'edit_profile' user_id=user.id %}">Edit Profile</a>
  {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
  {% endif %}
  {% if profile.bio %}
    <p>{{ profile.bio }}</p>
    <a href="{% url 'followers' user.id %}">Followers: {{ profile.followers.all|length }}</a>
    <a href="{% url 'following' user.id %}">Following: {{ profile.following.all|length }}</a>
{% endif %}
  {% if profile.age %}
    <p>Age: {{ profile.age }}</p>
  {% endif %}
  {% if profile.height %}
    <p>Height: {{ profile.height }} Ft</p>
  {% endif %}
  {% if profile.weight %}
    <p>Weight: {{ profile.weight }} Lbs</p>
  {% endif %}
  {% if profile.goals %}
    <h2>Goals</h2>
    <p>{{ profile.goals }}</p>
  {% endif %}
{% endblock %}
